<section class="panel panel-default">
  <div class="panel-heading">
    <strong><span class="glyphicon glyphicon-th"></span> New Hunt</strong>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</section>


