<div id="nav-wrapper" class="ng-scope">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;"><ul id="nav" data-ng-controller="NavCtrl" data-collapse-nav="" data-slim-scroll="" data-highlight-active="" class="ng-scope" style="overflow: hidden; width: auto; height: 100%;">
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"><span class="icon-bg bg-danger"></span></i><span data-i18n="Dashboard">Dashboard</span> </a></li>
        <li>
            <a href="#/hunts"><i class="fa fa-file-text-o"><span class="icon-bg bg-violet"></span></i><span data-i18n="Hunts">Hunts</span></a>
            <ul>
                <li><%= link_to hunts_path do %><i class="fa fa-caret-right"></i><span data-i18n="Add New Hunt" class="newhunt">Add New Hunt</span></a><%end%></li>
                <li><%= link_to hunts_path do%><i class="fa fa-caret-right"></i><span data-i18n="Hunt History">Hunt History</span></a><%end%></li>
              </ul>
        <i class="fa fa-caret-right icon-has-ul"></i></li>
        <li>
            <a href="#/Apartments"><i class="fa fa-file-text-o"><span class="icon-bg bg-warning"></span></i><span data-i18n="Apartments">Apartments</span></a>
            <ul>
                <% if @hunt %>
                    <% if @hunt.id %>
                <li><%= link_to hunt_path(@hunt) do %><i class="fa fa-caret-right"></i><span data-i18n="Add New Apt" class="newapt">Add New Apartment</span><%end%></li>
                <% else %>
                <li><a href = "#"><i class="fa fa-caret-right"></i><span data-i18n="Add New Apt" class>Add New Apartment</span></a></li>
                <%end%>
                <%end%>
                <li ng-controller="ModalDemoCtrl" class="addnewcollab"><a href="#" ng-click= "open()"><i class="fa fa-caret-right"></i><span data-i18n="Add Collaborators" class="newcollab">Add Collaborators</span></a></li>
            </ul>
        <i class="fa fa-caret-right icon-has-ul"></i></li>


    </ul><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 536px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
</div>
