/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require font-awesome
*= require ui
*= require jquery.bxslider
*= require main
*= require_tree .
*= require_self
*/

//colors
$color_0: #ddd;
$color_1: #ddf7eb;
$color_2: #f2fcf9;
$color_3: #fad7db;
$color_4: #fdefee;
$color_5: #1fbed6;
$color_6: #000;
$color_7: #fff;

.addnewapt {
  float: right;
  &:hover {
    text-decoration: none;
  }
}
div {
  &.addnewcollab {
    display: inline;
    float: right;
  }
  &.addnewimg {
    display: inline;
    float: right;
  }
}
.modal-content {
  z-index: 3000;
}
.bx-viewport {
  min-width: 50%;
  max-width: 100%;
  min-height: 100px;
  max-height: 400px;
  padding: 0;
  margin-bottom: 30px;
}
.bx-wrapper {
  margin: 0 auto;
}
.bx-controls-direction {
  text-align: center;
}
.pro-label {
  border-color: $color_1;
  background-color: $color_2;
}
.con-label {
  border-color: $color_3;
  background-color: $color_4;
}
.inline {
  display: inline-block;
  padding-left: 5px;
  font-weight: bold;
}
#fvb_simple_insert {
  position: fixed;
  top: 10px;
  left: 10px;
  background: #1FBED6;
  border: 3px single $color_6;
  color: $color_7;
  padding: 10px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 8px;
  z-index: 10000;
  a:hover {
    color: $color_6;
  }
}
#map_canvas {
  width: 100%;
  height: 250px;
}
.addnewcollab:hover {
  text-decoration: none;
}
.addnewimg:hover {
  text-decoration: none;
}
.form.row {
  margin: 0 auto;
}
.text-muted.text-small {
  font-size: 1em;
}
.bxslider li {
  margin-left: -40px;
  img {
    width: 100%;
    border: 0;
    margin: 0 auto;
    padding: 0;
  }
}
.page-tasks .task-list .view {
  padding: 0;
  border-bottom: 1px solid $color_0;
  label {
    width: auto;
    padding-left: 15px;
  }
}
