<section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>New Apartment</strong></div>
        <div class="panel-body">
           <%= render 'form' %>      
        </div>
    </section>

<%= link_to 'Cancel', hunt_path(@hunt.id) %>
